[submodule "models/Pytorch_Retinaface"]
	path = models/Pytorch_Retinaface
	url = https://github.com/biubug6/Pytorch_Retinaface
[submodule "models/pixel2style2pixel"]
	path = models/pixel2style2pixel
	url = https://github.com/eladrich/pixel2style2pixel.git
